@import "tailwindcss";

:root {
  --background: #f8fafc;
  --foreground: #18181b;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  
  --color-primary: #7C6EF6;
  --color-primary-hover: #6a5ce5;
  --color-bg-secondary: #F8F8FC;
  --color-border-custom: #E7E8F0;
  --color-text-custom: #1E293B;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}
